@model IEnumerable<MyASPProject.Models.Samurai>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4">List Samurai</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">List Samurai</li>
</ol>

<div class="card mb-4">
    <div class="card-body">
        <div class="col-md-6">
            <p>
                <a asp-action="Create">Create New Samurai</a>
            </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) &nbsp;
                                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-info"></i>
                                    Detail
                                </a>&nbsp;
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>