@model IEnumerable<MyASPProject.Models.Samurai>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4">List Samurai</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">List Samurai</li>
</ol>

<div class="card mb-4">
    <div class="card-body">
        <div class="col-md-6">
            <div>
                @if (TempData["pesan"] != null)
                {
                    @Html.Raw(TempData["pesan"])
                }
            </div>
            <p>
                <a asp-action="Create">Create New Samurai</a>
            </p>

            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" method="get" asp-action="Index">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." name="Name" aria-describedby="btnNavbarSearch" />
                    <input type="submit" value="Search" class="btn btn-primary" id="btnNavbarSearch" />
                </div>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" asp-action="Update" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    Update
                                </a>&nbsp;
                                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-circle-info"></i>
                                    Detail
                                </a>&nbsp;
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-trash"></i>
                                    Delete
                                </a>&nbsp;
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>